@import "../../style.scss";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lilita+One&family=PT+Serif&family=Rowdies&display=swap');

.leftBar {
        @include themify($themes) {
                flex: 1.7;
                position: sticky;
                top: 70px;
                height: calc(100vh - 70px);
                overflow: scroll;
                background-color: themed("bg");
                color: themed("textColor");
                font-family: 'Josefin Sans', sans-serif;
                border-right: 1px solid themed("border"); ;
                @include mobile {
                        display: none;
                }

                &::-webkit-scrollbar {
                        display: none;
                }

                .container {
                        padding: 20px;

                        hr {
                                margin: 20px 0px;
                                border: none;
                                height: 0.5px;
                                background-color: themed("border");
                        }

                        .menu {
                                display: flex;
                                flex-direction: column;
                                gap: 20px;

                                span {
                                        font-size: 12px;
                                }

                                .topics {
                                        display: flex;
                                        align-items: center;
                                        gap: 10px;
                                        margin: 0 auto;
                                        
                                        span {
                                                font-size: 20px;
                                                font-weight: 600;
                                        }
                                }

                                .item {
                                        display: flex;
                                        align-items: center;
                                        gap: 10px;

                                                cursor: pointer;
                                        
                                        span {
                                                font-size: 14px;
                                        }
                                }
                        }
                }
        }
}