@import "../../style.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lilita+One&family=PT+Serif&family=Rowdies&display=swap');

.blogs{
        @include themify($themes) {
                font-family: 'Josefin Sans', sans-serif;
                background-color: themed("bgSoft");
                padding: 20px 70px;

                @include mobile{
                        padding: 10px;
                }
                @include tablet{
                        padding: 20px;
                }
        }
}